# Python bytecode and other compiled files
*.py[cod]
__pycache__/
*.so

# Virtual Environment
venv/

# Django-specific files
db.sqlite3
*.sqlite3
*.pot
*.log
*.pot
*.pyc

# Ignore media and static files (if managed outside the project)
media/
staticfiles/

# Ignore system-specific files
.DS_Store
*.swp
*.swo

# Ignore IDE and Editor configuration files
.idea/
.vscode/

# Ignore environment variables and secrets
.env
*.env

# Ignore migrations
**/migrations/*

# Coverage and testing output
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
